*.log
*.log_rotating_lock
*.iml
logs/
build/
*.class
*.o
thirdparty/live555

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.docker
#*.png
#*.jpg
#*.jpeg
.idea/
target/
__pycache__/
*.0.gz

Pipefile.lock
app.log.*
*.lock

